*::after , ::before, body , h1 , li , ol{
    margin : 0 ;
    padding: 0;
}
body{
    background-image: linear-gradient( to right, rgb(56, 118, 160), rgb(2, 196, 66));
}
.wraper{
    max-width:800px;
    width:100%;
    min-height:100%;
    border-radius:5px;
    margin:0 auto;
    padding: 35px;
    text-align: center;
   

}
header{
    margin-bottom: 2rem;
}
h1{
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
}
#new-task #btn{
    background-color: aquamarine;
    color:#333;
    border-radius: 3px;
    outline: none;
    margin-left:0.5rem;
    border: 2px solid #333;
}
#new-task #btn:hover{
    
    border: 2px solid #fff;
    color:#fff;
}

.tasks{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.text{
    background-color: inherit;
    outline: none;
    border:none;
    color:white;
    
}
.content{
    border: 1px solid #fff;
    border-radius: 5px;
    width:400px;
    text-align: left;
    padding-left: 0.5rem;
    margin-right: 0.8rem;

}
.dlt{
    
    border:2px solid red;
    border-radius: 3px;
    color:red;
    background-color: #fff;
}
.dlt:hover{
    color:#fff;
    background-color: red;
    border:2px solid #fff;
}
